.white {
  background-color: white;
}

.delete-button {
  size: 10%;
  height: 2rem;
  width: 2rem;
  font-size: large;
  text-align: center;
  border-radius: 50%;
}

@media screen and (max-width: 767px) {
  .font-Small {
      font-size: 16px;
  }
}