.footer {
  height: 70px;
  padding: 1.5rem 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 0.05rem solid #e5e5e5;
  width: 100%;
  margin-top: 20px;
}

.footer-content {
  margin-bottom: 0;
}

/* .footer #scrollup {
    position: fixed;
    display: none;
    bottom: 80px;
    right: 20px;
    z-index: 99;
    cursor: pointer;
    -webkit-transition: color 0.5s;
    transition: color 0.5s;
}

.footer #scrollup:hover {
    color: #343a40;
    background-color: #fff;
    border-color: #343a40;
} */